.wrapper-nav {
	margin-left: 10%;
	margin-right: 10%;
}

.wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

.wrapper-tab {
}

#img-upload {
	max-width: 800px;
	height: auto;
}

.account-img {
	width: 125px;
	height: 125px;
}

.acc-info-content {
	max-width: 560px;
}

.flash-messages {
	min-height: 60px;
}