<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<style>

	</style>
</head>

<body>
	<div>
		<div>
			<h1>Time-picker | Login page</h1>
		</div>
    <form method="POST", action="/">
      <input class="input" type="text" id="user" name="username" placeholder="username" required>
      <input class="input"  type="password" id="pass" name="password" placeholder="password" required>
      <button type="submit" class="btn">Sign in</button>
    </form>

    <button onclick="location.href = '/register'">Create account</button>


	</div>
</body >
</html>
