<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style type="text/css">
		body {

			margin: 10%;
		}
		.flash {
			font-size: 15px;
			color: #AA0000;
			text-align: center;
			margin-bottom: 5px;
		}



		</style>


	</head>




	<body>



	<div class="alert alert-secondary" role="alert" align="center">
		Time picker, reserve your time online!
	</div>



	<div>
		{% for message in get_flashed_messages() %}
			<p class='flash'>{{ message }} </p>
		{% endfor %}
	</div>


<form method="POST" action="/">
	<input type="text" class="form-control" name="username" placeholder="username"  required>
	<input type="password" class="form-control" name="password" placeholder="password"  required>
	<button type="submit" class="btn btn-outline-secondary btn-block">Login</button>
</form>
	<button type="button" class="btn btn-outline-secondary btn-block" onclick="window.location.href='/register'">Need an account?</button>

</body >
</html>
