<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>HTML5</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
    body {

      margin: 10%;
    }



    </style>


 </head>




 <body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="#">TimePicker</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active">
           <a class="nav-link" href="/mainpage">Search! <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/create_service">Create own service</a>
         </li>
         <li class="nav-item">
				 	<a class="nav-link" href="/created_services">Your services</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link" href="/messanger?id=0">Chats</a>
				 </li>
         <li class="nav-item">
           <a class="nav-link" href="/settings">Settings</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/logout">Logout</a>
         </li>
       </ul>
     </div>
   </nav>



  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" onclick="url_for_specializaion()">Find by specialization</button>
      <!-- Todo: different url requests from buttons or delete one button -->
      <button class="btn btn-outline-secondary" type="button" onclick="url_for_services()">Find by service</button>
    </div>
    <input type="text" class="form-control" placeholder="" name="find_by" aria-describedby="basic-addon1">
  </div>


  <div class = "filter">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        None filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" onclick="apply_filter(this)">Lowest price</button>
        <button class="dropdown-item" type="button" onclick="apply_filter(this)">Closest destination</button>
        <button class="dropdown-item" type="button" onclick="apply_filter(this)">High rating</button>
        <button class="dropdown-item" type="button" onclick="apply_filter(this)">Closest time</button>
      </div>
    </div>
  </div>





  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/static/img/barber_img.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Barber</h5>
        <p class="card-text">I'm the best in this. I want to became a famous barber and now i'm looking for my regular clints, that's why price so little.</p>
        <p class="card-text">Master: Elena Sergeevna Sokolova.</p>
        <p class="card-text"><small class="text-muted">Desinatoon from you: 1.5 km.</small></p>
        <p class="card-text"><small class="text-muted">Middle price: 1$</small></p>
      </div>
    </div>
  </div>
</div>


<div id='search-result'></div>
<div class = "search_res"></div>
<div class = "pages">

</div>
<div id = "count">


 </body>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript" defer>


  $('div.filter').hide();

  var url;

  function url_for_specializaion () {
    url = 'http://' + document.domain + ':' + location.port+'/find?key=specialist';
    search(1, null);
  }

  function url_for_services () {
    url = 'http://' + document.domain + ':' + location.port+'/find?key=service'
    search(1, null);
  }

  var example_result = [

      {
          "_id": 1,
          "username": "blue_boy_dontcry",
          "service_name": "Barber",
          "addit_info": "I'm the best in this. I want to became a famous barber and now i'm looking for my regular clints, that's why price so little.",
          "lt":"12.3",
          "lg":"10.2",
          "schedule":"schedule"

      },
      {
              "_id": 2,
              "username": "blue_boy_dontcry",
              "service_name": "Barber",
              "addit_info":"Info about second barber",
              "lt":"12.3",
              "lg":"10.2",
              "schedule":"schedule"

        },
        {
              "_id": 3,
              "username": "blue_boy_dontcry",
              "service_name": "Barber",
              "addit_info":"Info about third barber",
              "lt":"12.3",
              "lg":"10.2",
              "schedule":"schedule"

          }];

  let createCard = (task) => {


    let card_href = document.createElement('a');
    card_href.setAttribute("href", 'http://' + document.domain + ':' + location.port+"/service?id="+task._id)
    card_href.style = "text-decoration: inherit; color: black;"

    let card = document.createElement('div');
    card.className = 'card mb-3';
    card.style = "max-width: 540px;"

    let cardInside = document.createElement('div');
    cardInside.className = 'row no-gutters';

    let cardImg = document.createElement('div');
    cardImg.className = 'col-md-4';
    let imgsrc = document.createElement("img");
    imgsrc.className = 'card-img';
    imgsrc.src = 'data:image/png;base64, '+task.service_logo;


    let cardBody = document.createElement('div');
    cardBody.class = 'col-md-8';

    let cardBodyInside = document.createElement('card-body');


    let title = document.createElement('h5');
    title.innerText = task.service_name;
    title.className = 'card-title';

    let description = document.createElement('p');
    description.innerText = task.addit_info;
    description.className = 'card-text';

    let master_name = document.createElement('p');
    master_name.innerText = task.username;
    master_name.className = 'card-text';

    let destination = document.createElement('p');
    destination.className = 'card-text';

    let destinationInside = document.createElement('small');
    destinationInside.innerText = "Coordinates lt: "+task.lt;
    destinationInside.className = 'text-muted';

    let middle_price = document.createElement('p');
    middle_price.className = 'card-text';

    let middle_priceInside = document.createElement('small');
    middle_priceInside.innerText = 'Middle price: '+task.middle_price;
    middle_priceInside.className = 'text-muted';








    //cardResult = document.getElementById('search-result');
    //cardResult.appendChild(card);
    card_href.appendChild(card);
    card.appendChild(cardInside);
    cardInside.appendChild(cardImg);
    cardInside.appendChild(cardBody);
    cardImg.appendChild(imgsrc);
    cardBody.appendChild(cardBodyInside);
    cardBodyInside.appendChild(title);
    cardBodyInside.appendChild(description);
    cardBodyInside.appendChild(master_name);
    cardBodyInside.appendChild(destination);
    destination.appendChild(destinationInside);
    cardBodyInside.appendChild(middle_price);
    middle_price.appendChild(middle_priceInside);

    $( 'div.search_res' ).append(card_href);
    console.log("last mesaage");

  }

  let init_pages = (count, filter) => {
    $('div.pages').empty();
    $('div.filter').hide();
    if (count > 1) {
      $('div.filter').show();
      for (var i = 1; i <= count; i++){
        console.log(i);
        $( 'div.pages' ).append('<th onclick="search('+i+','+filter+')">'+i+'</th>');

      }
    }
  }




  let initListOfTasks = (search_result) => {
    $('div.search_res').empty();
    search_result.forEach((task) => {
      createCard(task);
    });
};


//initListOfTasks(example_result);
  function apply_filter(filter) {
    document.getElementById("filter").innerText = filter.textContent;
    search(1, filter.textContent);
  }

  async function search(page, filter){
  let search_by = $( 'input.form-control' ).val()
  var request;
  console.log(url);
  request = url+'&page='+page+'&filter='+filter;
  let response = await fetch(request,{
    method: 'POST',
    headers: {
              'Content-Type': 'application/json;charset=utf-8'
              },
    body: search_by
  })
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    if (data.message != '200OK') {
      var countLabel = document.getElementById("count");
      countLabel.innerText = "Search result: "+data.count;
      console.log(data.count/3);
      console.log(Math.ceil(data.count/3));
      init_pages(Math.ceil(data.count/3), filter);
      initListOfTasks(data.services);


    }
  });
}


  </script>

</html>
