<!DOCTYPE html>
<html>
<head>
	<title>Create service</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style type="text/css">
		body {

			margin: 10%;
		}


		</style>


	</head>




	<body>

	 <nav class="navbar navbar-expand-lg navbar-light bg-light">
		 <a class="navbar-brand" href="#">TimePicker</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			 <span class="navbar-toggler-icon"></span>
		 </button>
		 <div class="collapse navbar-collapse" id="navbarNav">
			 <ul class="navbar-nav">
				 <li class="nav-item">
					 <a class="nav-link" href="/mainpage">Search! </a>
				 </li>
				 <li class="nav-item active">
					 <a class="nav-link" href="/create_service">Create own service<span class="sr-only">(current)</span></a>
				 </li>
				 <li class="nav-item">
				 	<a class="nav-link" href="/created_services">Your services</a>
				 </li>
				 <li class="nav-item">
					<a class="nav-link" href="/messanger?id=0">Chats</a>
				 </li>
				 <li class="nav-item">
					 <a class="nav-link" href="/settings">Settings</a>
				 </li>
				 <li class="nav-item">
					 <a class="nav-link" href="/logout">Logout</a>
				 </li>
			 </ul>
		 </div>
	 </nav>

	 <div class="alert alert-secondary" role="alert" align="center">
	   Step 1/4: General information.
	 </div>


  <div>
    {% for message in get_flashed_messages() %}
      <h4>{{ message }}</h4>
    {% endfor %}
  </div>

		<div class="input-group">
  		<div class="input-group-prepend">
    		<span class="input-group-text">Your specialization</span>
		  </div>
	 		<input class="form-control" class="input" type="text" id='serviceName' placeholder="Hint: English tutor"  required>
		</div>
		<div class="input-group">
		  <div class="input-group-prepend">
		    <span class="input-group-text">Describe yourself</span>
		  </div>
		  <textarea class="form-control" aria-label="With textarea"type="text" id="additional_information" placeholder="Hint: I was a teacher at the University of Cambridge, now i decided to stay home and can't live without teaching. I like kids..."  required></textarea>
		</div>

		<div class="custom-file">
      <input type="file" class="custom-file-input" id="inputImage" name=file accept="image/*" onchange="previewImg(event)">
      <label class="custom-file-label" for="inputGroupFile02" id='imglabel'>Set Image for service</label>
    </div>

    <button type="button" class="form-control" id = "send_but" onclick=sendData()>Next</button>



	<img id="preview"/>



</body >



 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	<script type="text/javascript">




	var idc = getUrlParam('idc','Empty');


	function getUrlParam(parameter, defaultvalue){
	    var urlparameter = defaultvalue;
	    if(window.location.href.indexOf(parameter) > -1){
	        urlparameter = getUrlVars()[parameter];
	        }
	    return urlparameter;
	};

	function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
	}


	if (idc != "Empty") {
		var button = document.getElementById('send_but');
		button.innerText ="Change data";
		console.log("changed");
		button.setAttribute("onclick", "changeData("+idc+")")

	}
	var previewImg = function(event) {
		var preview = document.getElementById('preview');
		var imgText = document.getElementById('imglabel');
		preview.src = URL.createObjectURL(event.target.files[0]);
		preview.onload = function() {
				URL.revokeObjectURL(preview.src) // free memory
				imgText.innerText = 'Change image';
			}
	};

	async function sendData(){
		let serviceName = document.getElementById('serviceName').value;
		let serviceDescription = document.getElementById('additional_information').value;
		let image = document.getElementById('inputImage').files[0];
		console.log(image);
		var data = new FormData();
		data.append('service_name', serviceName);
		data.append('service_descr', serviceDescription);
		data.append('service_image', image);
		console.log(data);
		let response = await fetch('http://' + document.domain + ':' + location.port+'/create_service',{
					method: 'POST',
					redirect: 'follow',
					body: data
				})
				.then(response => {
	        // HTTP 301 response
	        // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
					console.log(response)
	        if (response.redirected) {
	            window.location.href = response.url;
	        }
	    });
	}


	async function changeData(id){
		let serviceName = document.getElementById('serviceName').value;
		let serviceDescription = document.getElementById('additional_information').value;
		let image = document.getElementById('inputImage').files[0];
		console.log(image);
		var data = new FormData();
		data.append('service_name', serviceName);
		data.append('service_descr', serviceDescription);
		data.append('service_image', image);
		console.log(data);
		let response = await fetch('http://' + document.domain + ':' + location.port+'/create_service?idc='+id,{
					method: 'POST',
					redirect: 'follow',
					body: data
				})
				.then(response => {
					// HTTP 301 response
					// HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
					console.log(response)
					if (response.redirected) {
							window.location.href = response.url;
					}
			});
	}

//todo implement filling inputs with old information

	</script>
</html>
