<html>
<head>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen"
   href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
</head>

<body>




  <button onclick="location.href = '/'">Back to main page</button>


  <h1>Service: {{s_name}}</h1>
  <h2>Additional information</h2>
  <p>{{s_info}}</p>
  <h2>Master:</h2>
  <p>{{master}}</p>








  <script type="text/javascript"
   src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
  </script>
  <script type="text/javascript"
   src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
  </script>
  <script type="text/javascript"
   src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
  </script>
  <script type="text/javascript"
   src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
  </script>

  <div class="well">
    <table cellspacing="0">
      <tr>
        <th>
          <p>Select date</p>
          <div id="datetimepicker4" class="input-append">
            <input id = "date" data-format="yyyy-MM-dd" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">

              </i>
            </span>


          </div>
        </th>
        <th>
          <button id = "day_select">select</button>
        </th>
      </tr>
    </table>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#datetimepicker4').datetimepicker({
        pickTime: false
      });
    });
  </script>







  <div class="time_picker">
    <h2>Time picker for {{date}}</h2>
    <table>
    {% for hour in hours %}
    <tr>
        <th>
          <p>{{ hour }}</p>
        </th>
        <th>
          <button>select</button>
        </th>
        </tr>
    {% endfor %}
    </table>
  </div>




  </body>
  <script type="text/javascript">


    day_select.onclick = function(){
      var working_dates = ["hi"]
      var check = document.getElementsByClassName("date");
      for (var i = 0; i < check.length; i++) {
          working_dates.push(check[i].innerText);

      }
      console.log(working_dates);
      let response = fetch('http://' + document.domain + ':' + location.port+'/service',{
        method: 'POST',
        headers: {
                  'Content-Type': 'application/json;charset=utf-8'
                  },
        body: JSON.stringify(working_dates)
      });
    }


  </script>
</html>
